.about-container {
  display: flex;
  height: 100vh;
}
.about-card:hover {
  cursor: default;
  transform: scale(1.05);
}

.myname {
  font-family: "Lobster", cursive;
  color: rgba(255, 255, 255, 0.766);
  font-size: 4rem;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 0px 0px 10px #fff;
}

.myname:hover {
  color: white;
  cursor: default;
  text-shadow: 0px 0px 10px #fff;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.about-card {
  border-radius: 10px;
  height: auto;
  background-color: rgb(32, 33, 36);
  box-shadow: 0px 0px 5px 0px rgb(223, 223, 223);
  padding: 10px 20px 0px 20px;
  margin-right: 20px;
  max-width: 600px;
  width: 60%;
  transition: 0.1s ease;
}

.about-text {
  color: #fff;
}

.profilepic {
  border-radius: 50%;
  width: 220px;
  height: 250px;
  box-shadow: 0px 0px 5px 0px rgb(223, 223, 223);
  margin-left: 30px;
}

.profilepic:hover {
  cursor: default;
  transform: scale(1.05);
  box-shadow: 20px 20px 20px rgb(59, 59, 59);
}

@media only screen and (max-width: 768px) {
  .about-section {
    flex-direction: column-reverse;
  }

  .about-card {
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    margin-right: 0;
    margin-top: 1.5rem;
    max-width: 30rem;
    width: 100%;
    min-width: 20rem;
    transition: 0.1s ease;
  }

  .myname {
    font-size: 1rem;
  }

  .about-text {
    font-size: 0.9rem;
  }

  .profilepic {
    min-width: 150px;
    margin-top: 50px;
  }
}

.words {
  font-size: 0;
  line-height: 1.5;
}

.words span {
  font-size: 3.25rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-10%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(10%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  0% {
    transform: translate(-10%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

.footer-row {
  display: flex;
  margin: 0.25rem 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-row i {
  position: static;
  display: inline-block;
  font-size: 1.5rem;
}

.footer-row a,
.footer-row p {
  color: rgb(255, 255, 255);
  margin-left: 0.5rem;
}
