.project-col {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.project-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.project-head {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: rgb(32, 33, 36);
  transition: 0.2s ease;
}

.project-con {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(223, 223, 223);
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: rgb(32, 33, 36);
  transition: all 0.5s;
}
.project-con:hover {
  /* color: white; */
  /* background-color: rgb(32, 33, 36); */
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 0px rgb(161, 161, 161);
}

.project-card {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 0rem 1rem;
  padding: 1rem;
  min-height: 15rem;
  width: 500px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgb(223, 223, 223);
}

.project-title {
  display: flex;
  flex-direction: column;
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: rgb(32, 33, 36);
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-decoration: underline
}

.project-btn {
  display: flex;
  align-self: center;
  margin-top: 20px;
  gap: 20px;
}

.project-link:hover {
  background-color: rgb(97, 96, 96);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.project-link {
  border-radius: 10px;
  border: thin solid rgb(32, 33, 36);
  padding: 10px 20px;
  margin-bottom: 1rem;
  color: rgb(32, 33, 36);
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  bottom: 0;
  transition: 0.2s ease;
}
.visit-project {
  border-radius: 10px;
  border: thin solid rgb(32, 33, 36);
  padding: 10px 20px;
  margin-bottom: 1rem;
  background-color: rgb(32, 33, 36);
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  bottom: 0;
  transition: 0.2s ease;
}

.visit-project:hover {
  background-color: rgb(97, 96, 96);
  color: rgb(255, 255, 255);
}

.project-image {
  width: 400px;
  height: 330px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .project-col {
    flex-direction: column;
  }

  .project-image-section {
    display: flex;
    align-self: center;
    margin-bottom: 20px;
  }

  .project-card {
    width: 300px;
    min-height: 20rem;
  }
  .project-link {
    display: flex;
    align-self: center;
  }

  .project-image {
    width: 300px;
    height: 250px;
  }
}
